*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}
body {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
  padding:10px;
}

header h1{
	display: inline;
	float:left;
	margin: 0px 10px;

}

header h2 {
	float: left;
	font-size: 14px;
	font-style: italic;
	display: inline;
	margin: 15px 20px;
}

@media screen and (max-width:1155px) {
	header h2 {
		float:left;
		clear:both;
		margin-left:10px;
		font-size: 12px;
		}
	}
@media screen and (max-width:770px) {
	header h1{
		text-align: center;
		width:100%;
		}
	header h2 {
		text-align: center;
		width:100%;
		}
	}

header nav a {
	color: white;
	font-size:15px;
	padding: 0px 20px;
	text-transform: uppercase;
	display: inline;
}

header nav a:hover {
	color:red;
}


nav {
	text-align: right;
	padding-top: 14px;
	padding-bottom:10px;
	font-weight: bold;
	border-bottom: 1px solid white;
}

	a:link {
	    color: white;
	}
	a:visited {
		color: white;
	}
	a:hover {
		color: red;
	}
	a:active {
	    color: red;
	}


@media screen and (max-width:770px) {
	header {
		width:100%;
		text-align: center;
		}
	nav{
		width:100%;
		text-align: center;
		
	}
}

h1 a {
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}


.tooltipster-box{
	background:rgba(255,255,255,0.85);
	color:black;
	width:350px;
	padding: 25px;
}


.tooltip{
    border-radius: 50%;
    /*border: 1px solid yellow;*/
    width: 55px;
    height: 30px;
    position: absolute;
    left: 495px;
    bottom: -42px;
    display:block;
    z-index:10;
}

.tooltip-1{
	bottom: 35%;
    left: 66%;
}
.tooltip-2{
    bottom: 35%;
    left: 58%;
}
.tooltip-3{
	bottom: 42%;
    left: 62%;
}
.tooltip-4{
    bottom: 51%;
    left: 58%;
}
.tooltip-5{
	bottom: 55.8%;
    left: 60.2%;
}
.tooltip-6{
	bottom: 63.5%;
    left: 55%;
}


																/*   THUMBNAILS + BREAKPOINTS  */
 .thumb-container{
	width:10%;
/*	border:1px dotted yellow;*/
	padding:90px 10px;
	margin:5px;
 }

.img-back-sm, .img-top-sm, .img-front-sm{ 
	height:100px;	
	border:1px solid red;
	padding: 10px;
	margin:5px;
 }


@media screen and (max-width:960px) {
 	.thumb-container{
 	width:100%;
 	position:absolute;
 	bottom:-3%;
 	padding:10px;
 	text-align: center;
 	}
}


																				/*  BACK IMAGE */

.site-content-back {
	background-image: url(../images/back.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	width: 100%;
	padding-bottom: 6rem;
}

@media screen and (max-width:770px) {
	.site-content-back {
		height:650px;
		margin-top: 0px;
	}
}




																			/*  TOP IMAGE  */

.site-content-top {
	background-image: url(../images/top.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	max-width: 100%;
	padding-bottom: 6rem;
}




 																/*	  FRONT IMAGE + BREAKPOINTS */
 
 .site-content-front {
	background-image: url(../images/front.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	max-width: 100%;
	padding-bottom: 6rem;
}


  @media screen and (max-width:1040px) {
/*	.img-front-sm {
		top:322px;
		left: 105px;
		}*/
	}

/*IPHONE*/
	 @media screen and (max-width:667px) {
    .tooltip-1{left: 78.5%}
    .tooltip-2{left: 63.5%}
    .tooltip-3{left: 71%}
    .tooltip-4{left: 63.5%}
    .tooltip-5{left: 67.5%}
    .tooltip-6{left: 59%}    

	}

/*IPAD*/
	 @media screen and (max-width : 768px) {
    .tooltip-1{left: 77%}
    .tooltip-2{left: 64%}
    .tooltip-3{left: 71%}
    .tooltip-4{left: 63.5%}
    .tooltip-5{left: 67.5%}
    .tooltip-6{left: 59%}    
	}

/*extra breakpoints*/
	 @media screen and (max-width : 1050px) {
    .tooltip-1{left: 69%}
    .tooltip-2{left: 60%}
    .tooltip-3{left: 65%}
    .tooltip-4{left: 59.5%}
    .tooltip-5{left: 62.5%}
    .tooltip-6{left: 56%}    
	}
	 @media screen and (max-width : 1050px) {
    .tooltip-1{left: 69%}
    .tooltip-2{left: 60%}
    .tooltip-3{left: 65%}
    .tooltip-4{left: 59.5%}
    .tooltip-5{left: 62.5%}
    .tooltip-6{left: 56%}    
	}
	@media screen and (max-width : 1075px) {
    .tooltip-1{left: 69%}
	}
	@media screen and (max-width : 930px) {
    .tooltip-1{left: 72%}
    .tooltip-3{left: 67%}
	}
	@media screen and (max-width : 800px) {
    .tooltip-1{left: 75%}
    .tooltip-2{left: 63%}
    .tooltip-3{left: 69%}
    .tooltip-4{left: 62.5%}
    .tooltip-5{left: 65.5%}
    .tooltip-6{left: 58%}
	}
	@media screen and (max-width : 710px) {
    .tooltip-1{left: 78%}
	}
	@media screen and (max-width : 630px) {
    .tooltip-1{left:78%; top:59%;}
    .tooltip-2{top:59%;}
    .tooltip-6{top:33%;}
    .tooltip-3{top:52%;}
	}
/*  IPHONE 5S  */
	@media screen and (max-width : 560px) {
    .tooltip-1{left:78%; top:58%;}
    .tooltip-2{top:58%;}
    .tooltip-3{top:52%;}
    .tooltip-4{top:45%;}
    .tooltip-5{top:41%;}
    .tooltip-6{top:35%;}
	}
	@media screen and (max-width : 500px) {
	.tooltip{width:40px; height:25px;}
    .tooltip-1{top:57%;}
    .tooltip-2{top:57%;}
    .tooltip-4{top:46%;}
    .tooltip-5{left:67%; top:42%;}
    .tooltip-6{top:37%;}
	}



																				/*CONTACT PAGE */

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.contact-page{
    margin: 80px auto;
}

.form-field {
	margin-bottom:20px;
 }


/*whole form*/
form, input, textarea {
	width: 600px;
    font-family: "georgia", serif; 
    font-size: 16px;
    margin:auto;

}

input, textarea {
	padding:10px;
  	border: 0px;
  	background-color:#f6f6f6;
}

input:focus,
textarea:focus {
  outline:0;
  background-color: #dadada;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

.form-field input, .form-field select {
	display: block;
	width: 100%;
}

/*continue button*/
input[type="submit"] {
  background-color:rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  border:1px solid red;
  width:100%;
  font-family:sans-serif;
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

@media screen and (max-width:1040px) {
	form, input, textarea {
		max-width:80%;
		text-align: center;
		}
	}



/*																				  ABOUT PAGE */

.about{
	margin-top: 60px;
	text-align: center;
	width:100%;
	border: 1px solid red;
}

.kiri-img{ 
	width: 45%; 
	padding:20px;
	/*border: 1px solid red;*/
	float: left;
	margin-right: 20px;
}

.about-text{
	width: 40%;
	padding:0px 40px;
	float:left;
	text-align: left;
}

.about-links{
	padding-top: 40px;
}

@media screen and (max-width:825px) {
	.kiri-img {
		width:60%;
		float:none;
		text-align: center;
		}
	.about-text{
		width:100%;
		float:none;
		text-align: center;
	}
}
@media screen and (max-width:770px) {
	.kiri-img {
		width:70%;
		text-align: center;
		}
	.about-text{
		width:100%;
		text-align: center;
	}
}

/*																				  GALLERY PAGE 
*/

* {box-sizing:border-box}


.slideshow-container {
  max-width:60%;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width:960px) {
	.slideshow-container {
		max-width:80%;
		}
	}
@media screen and (max-width:770px) {
	.slideshow-container {
		max-width:100%;
		}
	.text {
  		font-size: 14px;
  		color:yellow;
		}
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  padding: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width:770px) {
	.text {
  		font-size: 14px;
		}
}

/*a:hover + .text { 
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  padding: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}







																				/*  FOOTER */

.footer {
	border-top:1px solid white;
	margin-top:40px;
	position: absolute;
	bottom:0%;
	width: 100%;
}

@media screen and (max-width:960px) {
.footer {
	position: relative;
	}
}

