*{
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}
body {
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
  padding:10px;
}

header h1{
	display: inline;
	float:left;
	margin: 0px 10px;

}

header h2 {
	float: left;
	font-size: 14px;
	font-style: italic;
	display: inline;
	margin: 15px 20px;
}

@media screen and (max-width:1155px) {
	header h2 {
		float:left;
		clear:both;
		padding:0;
		margin-left:10px;
		font-size: 12px;
		}
	}

header nav a {
	color: white;
	font-size:15px;
	padding: 0px 20px;
	text-transform: uppercase;
	display: inline;
}

header nav a:hover {
	color:red;
}


nav {
	text-align: right;
	padding-top: 14px;
	padding-bottom:10px;
	font-weight: bold;
	border-bottom: 1px solid white;
}
	a:link {
	    color: white;
	}
	a:visited {
		color: white;
	}
	a:hover {
		color: red;
	}
	a:active {
	    color: red;
	}



@media screen and (max-width:770px) {
	nav {
		float:left;
		padding:0px;
		color:red;
		border: 1px solid white;
		width:100%;
		text-align: left;
		margin-bottom:20px;
		}
	}



h1 a {
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}

/*.site-footer {
	padding:0px;
	border-top:1px solid white;
	display: inline block;
	float:bottom;
	clear:all;
}*/



.tooltipster-box{
	background:rgba(255,255,255,0.85);
	color:black;
	width:350px;
	padding: 25px;
}


.tooltip{
    border-radius: 50%;
   /* border: 1px solid yellow;*/
  /*  background: rgba(255,255,255,0.6);*/
    width: 55px;
    height: 30px;
    position: absolute;
    left: 495px;
    bottom: -42px;
    display:block;
    z-index:10;
}

.tooltip-1{
	bottom: 35%;
    left: 66%;
}
.tooltip-2{
    bottom: 35%;
    left: 58%;
}
.tooltip-3{
	bottom: 42%;
    left: 62%;
}
.tooltip-4{
    bottom: 51%;
    left: 58%;
}
.tooltip-5{
	bottom: 55.8%;
    left: 60.2%;
}
.tooltip-6{
	bottom: 63.5%;
    left: 55%;
}



																				/*  BACK IMAGE */

.site-content-back {
	background-image: url(../images/back.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	width: 100%;
	padding-bottom: 6rem;
}

@media screen and (max-width:770px) {
	.site-content-back {
		height:800px;
	}
}

 .img-back-sm{ 
	height:15%;	
	border:1px solid red;
	padding: 10px;
	margin:5px;
	display: block;
	position:relative;
	top:115px;
 }

  @media screen and (max-width:1040px) {
	.img-back-sm {
		top:425px;	
		}
	}


																			/*  TOP IMAGE  */

.site-content-top {
	background-image: url(../images/top.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	max-width: 100%;
	padding-bottom: 6rem;
}

 .img-top-sm{ 
	height:15%;	
	border:1px solid red;
	padding: 10px;
	margin:5px;
	display: block;
	position:relative;
	top:115px;
 }


 @media screen and (max-width:1040px) {
	.img-top-sm {
		top:425px;	
		}
	}


 																/*	  FRONT IMAGE + BREAKPOINTS */
 
 .site-content-front {
	background-image: url(../images/front.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 650px;
	max-width: 100%;
	padding-bottom: 6rem;
}
.img-front-sm{ 
	height:15%;	
	border:1px solid red;
	padding: 10px;
	margin:5px;
	display: block;
	position:relative;
	top:115px;
 }

  @media screen and (max-width:1040px) {
	.img-front-sm {
		top:322px;
		left: 105px;
		}
	}
/*IPHONE*/
	 @media screen and (max-width:667px) {
    .tooltip-1{left: 78.5%}
    .tooltip-2{left: 63.5%}
    .tooltip-3{left: 71%}
    .tooltip-4{left: 63.5%}
    .tooltip-5{left: 67.5%}
    .tooltip-6{left: 59%}    

	}

/*IPAD*/
	 @media screen and (max-width : 768px) {
    .tooltip-1{left: 77%}
    .tooltip-2{left: 64%}
    .tooltip-3{left: 71%}
    .tooltip-4{left: 63.5%}
    .tooltip-5{left: 67.5%}
    .tooltip-6{left: 59%}    
	}

/*extra breakpoints*/
	 @media screen and (max-width : 1050px) {
    .tooltip-1{left: 69%}
    .tooltip-2{left: 60%}
    .tooltip-3{left: 65%}
    .tooltip-4{left: 59.5%}
    .tooltip-5{left: 62.5%}
    .tooltip-6{left: 56%}    
	}
	 @media screen and (max-width : 1050px) {
    .tooltip-1{left: 69%}
    .tooltip-2{left: 60%}
    .tooltip-3{left: 65%}
    .tooltip-4{left: 59.5%}
    .tooltip-5{left: 62.5%}
    .tooltip-6{left: 56%}    
	}
	@media screen and (max-width : 1075px) {
    .tooltip-1{left: 69%}
	}
	@media screen and (max-width : 930px) {
    .tooltip-1{left: 72%}
    .tooltip-3{left: 67%}
	}
	@media screen and (max-width : 800px) {
    .tooltip-1{left: 75%}
    .tooltip-2{left: 63%}
    .tooltip-3{left: 69%}
    .tooltip-4{left: 62.5%}
    .tooltip-5{left: 65.5%}
    .tooltip-6{left: 58%}
	}
	@media screen and (max-width : 710px) {
    .tooltip-1{left: 78%}
	}
	@media screen and (max-width : 630px) {
    .tooltip-1{left:78%; top:59%;}
    .tooltip-2{top:59%;}
    .tooltip-6{top:33%;}
    .tooltip-3{top:52%;}
	}
/*  IPHONE 5S  */
	@media screen and (max-width : 560px) {
    .tooltip-1{left:78%; top:58%;}
    .tooltip-2{top:58%;}
    .tooltip-3{top:52%;}
    .tooltip-4{top:45%;}
    .tooltip-5{top:41%;}
    .tooltip-6{top:35%;}
	}
	@media screen and (max-width : 500px) {
	.tooltip{width:40px; height:25px;}
    .tooltip-1{top:57%;}
    .tooltip-2{top:57%;}
    .tooltip-4{top:46%;}
    .tooltip-5{left:67%; top:42%;}
    .tooltip-6{top:37%;}
	}



																				/*CONTACT PAGE */

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.contact-page{
    margin: 80px auto;
}

.form-field {
	width: 600px;
	margin-bottom:20px;
 }


/*whole form*/
form, input, textarea {
	width: 600px;
    font-family: "georgia", serif; 
    font-size: 16px;
    margin:auto;
}

input, textarea {
	padding:10px;
  	border: 0px;
  	background-color:#f6f6f6;
}

input:focus,
textarea:focus {
  outline:0;
  background-color: #dadada;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

.form-field input, .form-field select {
	display: block;
	width: 100%;
}

/*continue button*/
input[type="submit"] {
  background-color:rgba(255,255,255,0.2);;
  color:white;
  text-align: center;
  border:4px solid red;
  width:20%;
  font-family:sans-serif;
  margin-top: 40px;
  margin-bottom: 60px;
}

 @media screen and (max-width:1040px) {
	.contact-page {
		width:100%;
		margin-top: 0px;
		}
	}


																				/*  ABOUT PAGE */

.about{
	margin:auto;
	padding-top: 60px;
	text-align: left;
	display: block;
}

.about-text{
	width: 80%;
}

.kiri-img{ 
	max-width: 80%; 
	padding:10px;
	border: 1px solid red;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

																				/*  GALLERY PAGE */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  padding: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*a:hover + .text { 
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 18px;
  padding: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/



/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}







																				/*  FOOTER */

.footer {
	border-top:1px solid white;
	padding:0px;
	position: absolute;
	bottom:-10%;
	width: 100%;
}

 @media screen and (max-width:830px) {
.footer {
	position: relative;
	}
}

